html {
  background-color: rgb(196, 70, 70);
  margin: auto;
  padding: 0;
}
body {
  background-color: rgb(175, 238, 59);
  border-top: solid 90px rgb(145, 127, 127);
  color: yellow;
  font-family: monospace;
  margin: 0;
  padding: 0;
}
h1,h2,h3,
h4,h5,h6 {
  color: rgb(2, 80, 19);
  padding-bottom: 0;
  font-family:'monospace';
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(4, 128, 31);
  padding:8px;
  text-align: center
}
h1{
  color: rgb(2, 80, 19);
  font-family: monospace;
}
input{
  margin: auto;
  width: 15%;
  display: block;
  margin-bottom: 10px;
  background-color: lightblue;
}
body {
  margin-bottom: 60px;
  min-height: 90vh;
  background-color: rgb(199, 81, 81);
}
#titl{
  text-align: center;
} 